
Data/train_data.csv
decision_tree.svg
decision_tree
decision_tree_graphivz
decision_tree_graphivz.png
decistion_tree.pdf
decistion_tree.png
Group10_blind_predictions.csv
recall.csv
precision.csv
out.csv
